// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
// Variables
// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$border-radius: 1.3rem;
$border-radius-lg: 2rem;

$primary: #398f8f;
$warning: #fee551;

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// fontawesome
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
    background: rgb(255, 243, 253);
    position: relative;
    min-height: 100vh;
}
.nav-profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.post-card {
    height: 300px;
}
.cover-upload:hover {
    cursor: pointer;
}
.card-cover {
    background-size: cover;
    background-repeat: no-repeat;
}
.post-text {
    background: #ffffff44;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.description-box {
    height: 300px;
    overflow-y: scroll;
    white-space: pre-line;
}
.comment-box {
    height: 300px;
    overflow-y: scroll;
}
.profile-photo-upload-icon:hover {
    cursor: pointer;
}
.profile-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
#footer {
    width: 100%;
    bottom: 0;
    height: auto;
}
